<?xml version="1.0"?>
<!--
/**
 * Popup
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sy.copyright">
		<observer name="sy.copyright.popup" instance="SY\Popup\Observer\Copyright" />
	</event>
</config>